<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="type.proy.com.inventarioandroid" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".actividades.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAINPPAL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".actividades.LoginActivity"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".actividades.soporte.AbmSoporteActivity"
            android:label="@string/title_activity_abm_soporte" >
            <intent-filter>
                <action android:name="android.intent.action.ADMINISTRAR_SOPORTE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".actividades.soporte.SoporteActivity"
            android:label="@string/title_activity_soporte"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.SOPORTE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".actividades.RegistrarActivity"
            android:label="@string/title_activity_registrar"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.REGISTRAR_URL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".actividades.computadora.ComputadoraActivity"
            android:label="@string/title_activity_computadora" >
            <intent-filter>
                <action android:name="android.intent.action.COMPUTADORA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".actividades.computadora.AbmComputadoraActivity"
            android:label="@string/title_activity_abm_computadora" >
            <intent-filter>
                <action android:name="android.intent.action.ABM_COMPUTADORA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".actividades.soporte.ListaSoporteActivity"
            android:label="@string/title_activity_lista_soporte" >
            <intent-filter>
                <action android:name="android.intent.action.LISTAR_SOPORTES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".actividades.computadora.ListaComputadoraActivity"
            android:label="@string/title_activity_lista_computadora" >
            <intent-filter>
                <action android:name="android.intent.action.LISTA_COMPUTADORA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
